{% if treino == 's' %}
<div class="container text-center my-3" style="font-weight: 600;">
    <div class="row">
        <div class="col-md-2 azul-escuro d-flex justify-content-center align-items-center azul-escuro">
            <p class="text-light">Pré-Treino<br>
                15 - 30 min</p>
        </div>
        <div class="col-md-8 azul-claro">
            <div class="row ">
                <div class="col-md-12 ">
                    <p><b>30g</b> de Maltodextrina em 500 ml de Água</p>
                    <p style="font-size: 12px">Se o seu treino for caminhada, não use este pré treino</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}