{% extends 'base.html' %}
{% load static %}
{% block title %}Baixar Dieta{% endblock %}
{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
  /* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f7f9fc;
  margin: 0;
  padding: 0;
}

#download {
  width: 800px;
  min-height: 1123px;
  background: #fff;
  margin: 20px auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
/* Base para ambos botones */
.custom-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* espacio entre logo y texto */
  padding: 10px 22px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px;
  transition: all 0.3s ease;
}

.btn-container {
  width: 794px;           /* mismo ancho que el plan */
  margin: 20px auto 0;    /* centrado con el plan */
  display: flex;
  gap: 15px;              /* espacio entre botones */
  justify-content: flex-start; /* alineados a la izquierda */
}
.visualizar-btn {
  background-color: #fff;
  color: #333333; 
  border: 1px solid #afafaf;
}
.visualizar-btn:hover {
  background-color: #333333;
  box-shadow: 0 4px 10px rgba(200,200,200,0.6);
}

.pdf-btn {
  background-color: #fff;
  color: #d32f2f; /* texto rojo */
  border: 1px solid #ddd;
}
.pdf-btn:hover {
  background-color:  #d32f2f;
  box-shadow: 0 4px 10px rgba(200,200,200,0.6);
  border-color: #bbb;
  font-size: 14px;
}

.pdf-logo {
  width: 20px;
  height: auto;
}


</style>

<div class="btn-container mt-5">
  {% if treino == 's' %}
    <a href="{% url 'baixar_avaliacao_sem_treino' %}" class="custom-btn visualizar-btn">
      Visualizar Plano Sem Treino
    </a>
    <a href="{% url 'gerar_pdf' %}?tipo=com_treino" class="custom-btn pdf-btn">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" 
           alt="PDF" class="pdf-logo">
      Gerar PDF
    </a>
  {% elif treino == 'n' %}
    <a href="{% url 'baixar_avaliacao' %}" class="custom-btn visualizar-btn">
      Visualizar Plano Com Treino
    </a>
    <a href="{% url 'gerar_pdf' %}?tipo=sem_treino" class="custom-btn pdf-btn">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" 
           alt="PDF" class="pdf-logo">
      Gerar PDF
    </a>
  {% endif %}
</div>
<div id="download-wrapper">
  <div id="download" class="container">

    <!-- Nome da pessoa -->
    <div class="card-refeicao">
      {% include 'parciais/_nome_pessoa.html' %}
    </div>

    <!-- Pré-treino -->
    {% if treino_cedo %}
    <div class="card-refeicao">
      {% include 'parciais/_pre_treino.html' %}
    </div>
    {% endif %}

    <!-- Café da manhã -->
    <div class="card-refeicao">
      {% include 'parciais/_hmanha.html' %}
    </div>

    <!-- Lanche da manhã -->
    <div class="card-refeicao">
      {% include 'parciais/_lanche_1.html' %}
    </div>

    <!-- Almoço -->
    <div class="card-refeicao">
      {% include 'parciais/_almoco.html' %}
    </div>

    <!-- Lanches -->
    <div class="card-refeicao">
      {% include 'parciais/_lanches.html' %}
    </div>

    <!-- Jantar -->
    <div class="card-refeicao">
      {% include 'parciais/_jantar.html' %}
    </div>
  </div>
</div>

<script>
  function downloadtable() {
    var node = document.getElementById('download');
    var options = {
      bgcolor: '#fff',
      width: node.scrollWidth,
      height: node.scrollHeight,
      style: { transform: "scale(1)", transformOrigin: "top left" }
    };
    domtoimage.toPng(node, options)
      .then(function (dataUrl) {
        var link = document.createElement("a");
        link.download = "plano_alimentar.png";
        link.href = dataUrl;
        link.click();
      })
      .catch(function (error) {
        console.error('oops, algo salió mal', error);
      });
  }
</script>

<script>
  function downloadPDF() {
    var element = document.getElementById('download');
    var opt = {
      margin:       0.5,                          
      filename:     'plano_alimentar.pdf',        
      image:        { type: 'jpeg', quality: 0.98 }, 
      html2canvas:  { scale: 2 },                 
      jsPDF:        { unit: 'in', format: 'a4', orientation: 'portrait' }
    };
    html2pdf().set(opt).from(element).save();
  }
</script>

{% include "parciais/_footer.html" %}
{% endblock %}
