{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}" />

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: normal !important;
    }

    /* Estilizando o vídeo responsivo */
    .video-container {
        position: relative;
        width: 100%;
        max-width: 800px; /* Ajuste conforme necessário */
        margin: 0 auto;
        aspect-ratio: 16 / 9; /* Mantém a proporção 16:9 */
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .btn-t {
        padding: 5px 50px;
        font-size: 20px;
        background-color: #FF6666;
        border-radius: 10px;
        transition: 0.5s;
    }

    .btn-t:hover {
        padding: 4px 45px;
        background-color: #cc5252;
        border-radius: 10px;
    }

    .link {
        color: #FF6666;
        font-weight: bold;
    }

    .link:hover {
        font-weight: bolder;
        color: #cc5252;
    }

    /* Estilo para o container-mobile */
    .container-mobile {
        padding: 20px;
        border-radius: 10px;
        margin: 20px auto;
        max-width: 800px;
    }

    .container-mobile p {
        color: #2B6CA3; /* Azul */
        font-size: 18px;
        text-align: center;
    }

    /* Responsividade */
    @media (max-width: 768px) {
        .container-mobile {
            font-size: 16px;
            padding: 15px;
            max-width: 90%;
        }

        .text-user {
            text-align: center;
        }
    }

    @media (max-width: 480px) {
        .container-mobile {
            font-size: 14px;
            padding: 10px;
        }
    }

    @media (orientation: landscape) {
        .text-user {
            text-align: center;
        }
    }

</style>

{% endblock %}
{% block conteudo %}

<div class="container my-4">
  <div class="row video-section">
    <div class="col-md-12 text-user">        
        <p>Olá, <b style="font-family:'roboto-w'!important;text-decoration: underline;text-transform: capitalize;">{{usuario.nome}} {{usuario.sobrenome}}</b>, seja bem-vindo! </p>
    </div>
    
    <!-- Vídeo responsivo -->
    <div class="col-md-12">
        <div class="video-container">
            {{link|safe}}
        </div>
    </div>
    
    <div class="container-mobile">
        <p>Este site foi desenvolvido para ser melhor utilizado em computador ou notebook.</p>
        <p>Se você tiver um celular Android</p>
        <p>Baixe o aplicativo para uma melhor experiência. <a href="https://play.google.com/store/apps/details?id=com.nutricao.esportiva.nutricaoesportiva" class="link">Clique Aqui</a></p>
    </div>

    <div class="col-md-12 d-flex justify-content-center">
        <a href="{% url 'video_explicativo_confirm' %}" class="btn-t mt-3">
            <b class="text-light">INICIAR</b> 
        </a>
    </div>

    <div class="col-md-12 mt-5">
        <p class="text-center text-blue">Israel Adolfo Nutricionista Esportivo | @ 2022 - CNPJ 45.866.348/0001-02</p>
    </div>
  </div>
</div>

{% endblock %}
