{% extends 'base.html' %}
{% load static %}
{% block title %}Questionário{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'core/css/questionario.css' %}" />
   <style>
    .mt-40{
        margin-top: -40px
    }
    .nav-link{
        margin-top: 0.4rem!important;
        margin-bottom: 0.3rem!important;

    }
    .alert{
        font-size: 15px
    }
   </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block conteudo %}
<div >
    <div style='margin-bottom: -9rem'>
    {% block questionario %}
    {% comment %} {% endblock %}
    </div>
    {% include 'parciais/_footer.html' %} {% endcomment %}
    <footer class="text-center text-light d-flex align-items-center justify-content-center"
        style="
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #2b6ca3;
        height: 60px;
        font-size: 13px;
        z-index: 1000;">
    <p class="text-light font-weight-bold m-0">
        Israel Adolfo Nutricionista Esportivo
        <i class="fa fa-solid fa-copyright text-light"></i>
        2024 - CNPJ 45.866.348/0001-02
    </p>
</footer>
</div>
{% endblock %}
