{% extends "base.html" %}
{% load static %}

{% block title %}Sucesso!{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}" />
{% endblock %}
{% block conteudo %}
<div class="container my-3" style="height: 70vh;">
    <h1 class="font-weight-bold" style="color: #2b6ca3">OPA! A página que você está tentando acessar gerou um erro em nossos servidores.</h1>
    <p>
        Clique no botão abaixo para voltar ao início <br>
        <a href="{% url 'index' %}"  class="btn btn-success" style="background-color: #2b6ca3;border:none;max-width: 200px">Início</a>

    </p>
</div>
{% include "parciais/_footer.html" %}
{% endblock %}